

<nav class="navbar navbar-expand-lg navbar-light bg-light">
 
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="employee">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/view">View</a>
        </li>
       
       
      </ul>
    </div>
  </nav>
  <!-- <p>
    <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
  </p> -->
<app-employeedashboard></app-employeedashboard>


<app-view></app-view>
<app-home></app-home>
<app-email></app-email>
<router-outlet></router-outlet>